<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Catalog</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/2337335750.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  </head>

  <body>   
    <header>
      <nav>
          <div class="menu">
            <div class="logo">
              <a href="/"
                ><img style="width: 50%" src="img/motor-medic-logo.png"
              /></a>
            </div>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/catalog">Catalog</a></li>
              <li><a href="/cart">Cart</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="/associate">Associates</a></li>
            </ul>
          </div>
      </nav>
    </header>

    <section class="home">
      <div class="home-text">
        <h1>Parts you can trust.</h1>
        <h4>Save 10% off your first purchase when you sign up for emails!</h4>
      </div>
    </section>

    <main>
      <div class="container">
        <h2 class="cat-title">All Products:</h2>

        <ul class="row">
          <% all.forEach((part) => { %>
          <li class="col-1">
            <div class="overlay">
              <div class="product-pic">
                <img src="<%= part.pictureURL %>" />
              </div>
            </div>
            <div class="pinfo">
              <h3><%= part.description %></h3>
              <h4>In Stock: <%= part.quantity%></h4>
              <div class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star-half-stroke"></i>
              </div>
              <p>$<%= part.price %></p>
            </div>
            <ul class="icons">
              <li class="li2">
            <form action="/addtocart/<%= part.number %>" method="post">
                <button
                  type="submit"
                  style="background: transparent; border: none"
                >
                  <i
                    class="fas fa-cart-plus"
                    style="font-size: 30px; color: white;"
                  ></i>
                </button>
              </li>
              <li class="li2">
                <input
                  type="number"
                  class="form-input"
                  name="quantity"
                  min="1"
                  max="<%= part.quantity%>"
                  value="1"
                />
            </form>
              </li>
            </ul>
          </li>
          <% })%>
        </ul>
      </div>
          <section class="pages">
            <div class="container">
              <span>1</span> <span>2</span> <span>3</span> <span>4</span>
              <span>&#8594</i></span>
            </div>
          </section>
        </div>
      </div>

    </main>
  </body>
</html>
